
.jumbotron{
	text-align: center;
	font-family: 'Tangerine', cursive;
	padding: 120px;
}


.container{
	text-align: center;
	font-family: 'Tangerine', cursive;
}

.container h1{
	font-size: 55px;
	font-style: italic;
	font-weight: 600;
}

.container h2{
	padding-bottom: 30px;
}

.navbar-brand{
	font-size: 35px;
}

#last{
	padding-top: 0px;
	background-color: #B9B8BA;
	color: black;
	font-weight: 100;
	font-style: normal;
	margin-bottom: 0px;

}

#last h2{
	font-size: 40px;
	padding-bottom: 0px;
}

.last{
	font-style: normal;
}

#yht{
	text-align: left;
}

#menu h1{
	font-size: 30px
}

#menu h2{
	font-size: 20px;
	padding-bottom: 5px; 
	font-weight: bold;
}
